body {
	background: url(../css/images/loading.gif) #000 center center no-repeat;
	font-family: Helvetica, Arial, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
	overflow:hidden;
}

.map-viewport {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

	#container {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

	#map {
		background-image: url('maps/map_thumb.jpg');
		background-size: 100%;
		cursor: hand;
		position:absolute;
	}
		#map div {
			display: block;
			left: 0 ;
			overflow: hidden;
			position: absolute;
			top: 0;
		}

		#map img {
			float: left;
			height: 256px;
			width: 256px;
		}

	#minimap {
		border: 1px solid #999;
		box-shadow: 0 0 30px 3px #000;
		display: block;
		height: 124px;
		right: 0px;
		overflow: hidden;
		position: absolute;
		top: 0px;
		z-index: 9999;
	}

		#minimapVisor {
			box-shadow: 0 0 100px 100px #000;
			border: 1px solid #666;
			display: block;
			left: 0;
			opacity: 0.7;
			position: absolute;
			top: 0;
		}

	#menu {
		border: 1px solid #999;
		box-shadow: 0 0 30px 3px #000;
		left: 0px;
		line-height: 32px;
		list-style-type: none;
		margin: 0;
		padding: 0;
		position: fixed;
		top: 0px;
	}

		#menu li {
			background: rgba(0,0,0,0.6);
			margin: 0;
			padding: 0;
		}

			#menu li a {
				color: #ccc;
				display: block;
				height: 32px;
				padding: 0;
				position: relative;
				text-decoration: none;
				width: 200px;
			}

				#menu li a:hover {
					background: #000;
					color: #fff;
				}

				#menu li a img {
					height: 24px;
					left: 3;
					position: absolute;
					top: 3;
				}

				#menu li a span {
					display: block;
					left: 72px;
					position: absolute;
					top: 0;
				}